<div>
  <h4 class="mat-title" *ngIf="!isEdit">Dodaj pole</h4>
  <h4 class="mat-title" *ngIf="isEdit">Edycja pola {{field.name}}</h4>
  <form #fieldForm="ngForm" (submit)="saveField()">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Nazwa" name="fieldName" [(ngModel)]="field.name" required>
        <mat-error *ngIf="fieldForm.hasError('required', 'fieldName')">
          Nazwa pola jest wymagana
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Typ" [(ngModel)]="field.fieldType" required name="fieldType">
          <mat-option *ngFor="let option of templateFieldTypes" [value]="option.value">
            {{option.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle *ngIf="field.fieldType == 1 || field.fieldType == 2"
                        [(ngModel)]="field.isCalculated"
                        [disabled]="field.isSum || field.fieldType == 0"
                        [checked]="field.isSum || field.fieldType != 0"
                        name="fieldIsCalculated" class="slide-toggle">Czy wyliczane?
      </mat-slide-toggle>
      <mat-slide-toggle *ngIf="field.fieldType == 1 || field.fieldType == 2" [(ngModel)]="field.isSum"
                        [disabled]="field.fieldType == 0"
                        [checked]="field.fieldType != 0" name="fieldIsSum" class="slide-toggle">Czy suma?
      </mat-slide-toggle>
      <mat-form-field *ngIf="field.fieldType == 1 || field.fieldType == 2 && field.isCalculated">
        <input matInput placeholder="Formuła" name="fieldFormula" [(ngModel)]="field.formula"
               (change)="validateFormula()">
        <mat-error *ngIf="field.isCalculated && !field.isFormulaValid">
          Provided formula is invalid. Use '[Field1 name]*[Field2 name]' for instance
        </mat-error>
      </mat-form-field>
    </div>
    <mat-card-actions align="end">
      <button mat-raised-button type="button" (click)="cancelled()" *ngIf="isCancellable">Anuluj</button>
      <button mat-raised-button type="button" (click)="clearField()">Wyczyść</button>
      <button mat-raised-button type="submit" color="primary"
              [disabled]="!fieldForm.valid || !field.isFormulaValid">{{saveText}}
      </button>
    </mat-card-actions>
  </form>
</div>
