<div class="form-container">
  <h4 class="mat-title" *ngIf="template.id">Edycja szablonu {{template.name}}</h4>
  <h4 class="mat-title" *ngIf="!template.id">Nowy szablon</h4>
  <form #templateForm="ngForm" (submit)="submit()">
    <mat-card-content class="form-container">
      <mat-form-field>
        <input matInput placeholder="Nazwa" name="templateName" required [(ngModel)]="template.name">
        <mat-error *ngIf="templateForm.hasError('required', 'templateName')">
          Nazwa szablonu jest wymagana
        </mat-error>
      </mat-form-field>
      <mat-slide-toggle name="isTemplateActive" [(ngModel)]="template.isEnabled">Aktywny?</mat-slide-toggle>
    </mat-card-content>
    <app-field [isEdit]="false" (fieldSaved)="addField($event)" [templateFields]="template.templateFields"
               [templateFieldTypes]="templateFieldTypes"></app-field>
    <mat-divider></mat-divider>
    <mat-card *ngIf="template.templateFields && template.templateFields.length > 0">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of template.templateFields; let i = index" (click)="editField(item, i)">
          <h3 mat-line>{{item.name}}</h3>
          <p mat-line>{{getFieldTypeName(item.fieldType)}}</p>
          <button mat-icon-button color="accent" (click)="removeField(item, i)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-card>
    <div class="button-panel">
      <button mat-raised-button type="button" routerLink="/templates">Anuluj</button>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!templateForm.valid || !template.templateFields || template.templateFields.length == 0"
              class="right">Zapisz
      </button>
    </div>
  </form>
</div>
